<div class="equipment-card card">
  <%= image_tag "sack.png", size: "180x180", alt: "Race Picture", class: "card-img-top mx-auto" %>
  <div class="card-body">
    <h4 class="card-title">No Item</h4>
    <p class="card-text">Wow you are so broke. Oh so very broke. It is time for you to get out and start getting some items!</p>
  </div>
  <div class="card-actions">
    <a class="btn btn-outline-primary" href="#">Un-Equip</a>
  </div>
</div>