<div class="container">
  <div class="row justify-content-center">
    <% @characters.each do |character| %>
      <%= render partial: "character_card", locals: { character: character } %>
    <% end %>
    <%= render partial: "new_character_card", locals: { account: @account, character: @character } %>
  </div>
</div>