<div class="inventory-card card">
  <%= image_tag "sack.png", size: "140x140", alt: "Race Picture", class: "card-img-top mx-auto" %>
  <div class="card-body">
    <h4 class="card-title">Item Name</h4>
    <p class="card-text">Ooh look a shiny item!</p>
  </div>
  <div class="card-actions justify-content-between">
    <a class="btn btn-outline-primary" href="#">Equip</a>
    <a class="btn btn-outline-secondary" href="#">Sell</a>

  </div>
</div>