<div class="container">
  <h3>Inventory</h3>
  <div class="card-deck">
    <% @inventory.items.each do |item| %>
      <%= render partial: "inventory_card", locals: { item: item } %>
    <% end %>
  </div>
</div>