@import "material";
// @import "https://fonts.googleapis.com/icon?family=Material+Icons";

div {
  margin: 4px;
}

.card-col {
  max-width: 372px;
}

.card-img-top {
  margin-top: 16px;
}
.form-control {
  padding: 5px;
}

#sign_up {
  text-align: right;
}
